/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.body {
  display: grid;
  grid-template-columns: 100px auto;
  font-family: "Inter", sans-serif;
  height: 100vh;
  background-color: #261e35;
  color: white;
}

.aside {
  box-sizing: border-box;
  border-right: 3px solid #c4c3c8;
}

.logo {
  padding-top: 30px;
  padding-bottom: 77px;
  padding-left: 29px;
  padding-right: 29px;
}

.navigation {
  padding: 0 21px 0 18px;
}

.navigation-option {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.active {
  padding-bottom: 32px;
}

.logout {
  padding: 0 39px 30px 37px;
  position: fixed;
  bottom: 0;
}

.aside {
  display: grid;
  grid-template-rows: 107px auto;
}

.header {
  padding: 30px;
  display: grid;
  grid-template-columns: 600px auto;
}

.page-title {
  display: flex;
}

.home {
  padding: 0;
  margin: 0;
  padding-left: 411px;
  display: grid;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search {
  width: 200px;
  height: 20px;
  background-color: #2f293e;
  border: none;
  border-radius: 15px;
  padding: 15px 0 15px 20px;
}

.avatar {
  padding-left: 12px;
}

.bell {
  padding-left: 50px;
}

.search-bar {
  padding-right: 50px;
  position: relative;
}

.lupa {
  position: absolute;
  left: 180px;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}
